<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <span *ngIf="errorRes">
      {{errorRes}}
  </span>
  <div class="login">
    <input class="single-field" type="text" formControlName="username" placeholder="username">
    <!--    form.get('username').invalid || -->
    <span class="field-error" *ngIf="form.get('username').touched ">
     Введите валидное имя пользователя
    </span>
  </div>

  <div class="registration">
    <input class="single-field" type="password" formControlName="password" placeholder="password">
    <span *ngIf="form.get('password').touched">
      Введите пароль
    </span>
  </div>

  <button class="btn" type="submit" [disabled]="form.invalid" (click)="onInput()">Войти</button>
</form>
