.wrapper {
  display: grid;
  min-height: 100%;
  grid-template: 60px 1fr / 1fr;
  row-gap: 20px;
  grid-template-areas:
  "header"
  "main";
}

.main {
  display: grid;
  grid-area: main;
  grid-template: 1fr / minmax(50px, 268px) 1fr;
  column-gap: 20px;
  grid-template-areas:
  "side content .";
}

header {
  grid-area: header;
  display: grid;
  grid-template: 60px / 500px 100px 250px 100px;
  background-color: #f19d92;
}

.side {
  grid-area: side;
  border: 2px solid #ca5d4f;
}
.side__menu{
  list-style: none;
  padding-bottom: 10px;
}
.content {
  grid-area: content;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
}
.header-area__search{
  margin-left: 10px;
  color: aliceblue;
}
.header-area__search input{
  color: white;
}
nav{
  text-align: center;
}
@media print {
  header{
    display: none;
  }
  header > input{
      display: none;
    }
  h2{
    min-height: 1cm;
    page-break-after: avoid;
    margin-top: 0.5cm;
  }
  hr{
    border-top: 1px solid black;
  }
  aside{
    display: none;
  }
}
