<section class="wrapper">
  <header class="header-area">
    <input type="search" class="form-control" placeholder="Поиск" [(ngModel)]="searchStr"/>
  </header>
  <section class="main">
    <aside class="side">
        <nav>
          <ul class="nav flex-column side__menu">
            <li class="nav-item">
              <a href="http://localhost:4200/profile" class="nav-link active" aria-current="page">Моя страница</a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/profile/follower" class="nav-link">Мои подписчики</a>
            </li>
            <li class="nav-item">
              <a href="http://localhost:4200/profile/wall" class="nav-link">Мои посты</a>
            </li>
          </ul>
        </nav>
    </aside>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>
