<h1>Добро пожаловать, {{userInfo.username}}</h1>
<p>Имя: {{userInfo.first_name}}</p>
<p>Фамилия: {{userInfo.last_name}}</p>
<p>Почта: {{userInfo.email}}</p>
<p>Дата регистрации: {{userInfo.date_joined}}</p>
<p>{{userInfo.first_login}}</p>
<p>Телефон: {{userInfo.phone}}</p>
<p>Обо мне: {{userInfo.bio}}</p>
<p>Гитхаб: {{userInfo.github}}</p>
<p>Дата рождения: {{userInfo.birthday}}</p>
<p>Пол: {{userInfo.gender}}</p>
<p>Технологии: {{userInfo.technology}}</p>
<button class="btn" type="submit" (click)="onEdit()">Редактировать</button>

