.container {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 100%;
  grid-template-areas:
    "header login"
    "img registration";
}

.header-area {
  display: grid;
  grid-area: header;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.header-area span{
  color: #dd6656;
  font-size: 30px;
  font-weight: 800;
  padding: 0%;
}
.login-area {
  grid-area: login;
  justify-items: stretch;
}

.image-area{
  background-color: #f19d92;
}

.registration-area {
  grid-area: registration;
}

.brand {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  padding-left: 70px;
}
